<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    {% with errors = get_flashed_messages() %}
    {% if errors %}
        <ul>
            {% for message in errors %}
                <li style="color: red;">[{{message}}]</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    <h1>Sign In</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username_or_email.label }}<br>
            {{ form.username_or_email(size=32) }}
            {% for error in form.username_or_email.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

        </p>
        <p>{{ form.submit() }}</p>
</body>
</html>