<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li style="color: red;">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% if protests %}
        <ul>
            {% for protest in protests %}
                <li>
                    <a href="{{ url_for('protest.by_id', id=protest[0].id) }}">
                        {{ protest[0].title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>